.app.dark {
    --bg-color: #1b1b54;
    --inverted-bg-color: #ced0d7;
    --primary-color: green;
    --secondary-color: #1dc91d;
    --inverted-primary-color: #242977;
    --inverted-secondary-color: #8fa3ff;
}
