.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
  //justify-content: end;
  gap: 20px;
  color: var(--bg-color);
}

.links {
  margin-left: auto;
  a + a {
    padding-left: 20px;
  }
}

//.mainLink // less 2.12
